/* Barebones Compass layout styles
 *
 * Footer styles
 */

.layout-footer {
    background-color: transparent;
    border-top: 1px solid #d4d8de;

    @if ($layout-footer-height > 0) {
        height: $layout-footer-height;
    }
}

$layout-footer-sticky: false !default;

@if ($layout-footer-sticky != false and $layout-footer-height > 0) {
    html,
    body {

    }

    .layout-content {
        clear: both;
        min-height: 70vh;
        height: auto !important;
        height: 100%;
        margin-bottom: -$layout-footer-height;
    }

    .layout-content:after {
        content: "";
        display: block;
        height: $layout-footer-height;
    }

    .layout-footer {
        clear: both;
        position: relative;
    }
}

.layout-footer{
        padding-top: 34px;
    .left-block{
        display: inline-block;
        margin-left: 30px;
        .copyrights{
            display: inline-block;
            border-right: 1px solid #dbdee4;
            height: 26px;
            margin-right: 25px;
            padding-right: 50px;
            pointer-events:none;
        }
        ul{
            display: inline-block;
            margin: 0;
            margin-left: 20px;
            li{
                display: inline-block;
                width: auto;
                margin: 0;
                margin-right: 40px;
                text-align: right;
                a{
                    color:$colorGrey;
                    &:hover{
                        color:$colorGreyLight;
                    }
                    &:active{
                        color:$colorGreyDark;
                    }
                    &.active{
                        color:$colorBlue;
                    }
                    &:visited{
                        color:$colorGrey;
                    }
                }
            }
        }
    }
    .right-block{
        float:right;
        text-align: right;
        margin-top: -10px;
            a[class^="cicon"]{
                display: inline-block;
                position: relative;
                height: 40px;
                width: 41px;
                font-size: 40px;
                text-align: center;
                margin-left: 10px;
                cursor: pointer;
                &:last-of-type{
                    width: 40px;
                }
                &:visited:before{
                    color: #8d95a6;
                    opacity: .85;
                }
                &:before{
                    transition:opacity .15s linear;
                    opacity: .85;
                    color: #8d95a6;
                }
                &:hover:before{
                    opacity: 1;
                    color: #8d95a6;
                }
                &:active:before{
                    opacity: .75;
                    color: #8d95a6;
                }
            }
    }
}
.layout-footer.s-footer{
    .right-block{
        a[class^="cicon"]{

            &:visited:before{
                color: #fff;
                opacity: .75;
            }
            &:before{
                color: #fff;
                opacity: .75;
                transition:opacity .15s linear;
            }
            &:hover:before{
                color: #fff;
                opacity: 1;
            }
            &:active:before{
                color: #fff;
                opacity: .65;
            }
        }
    }
}


.fb_iframe_widget,
.IN-widget {
    display: inline-block;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 42px !important;
    width: 42px !important;
    overflow: hidden;
    opacity: 0;
    span{
        position: absolute !important;
        left: 0;
        top: 12px;
        iframe {
            position: absolute;
        }
    }
}

.IN-widget{
    padding: 10px 0;
}