/* Barebones Compass layout styles
 *
 * Header styles
 */
$layout-header-fixed: false !default;

.layout-header {
    @if ($layout-header-fixed != false and $layout-header-height > 0) {
        height: $layout-header-height;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 15px;
        z-index: 200;
        background-color: transparent;
    } @else if ($layout-header-height > 0) {
        height: $layout-header-height;
    }
    &.scrolled{
    	background-color: #fff;
    	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    &.s-header{
    	&.scrolled{
	    	background-color: #52269d;
	    	box-shadow: 0 5px 10px rgba(29, 10, 51, 0.5);
	    }
    }
    transition: all .15s linear;
}

body.risk-body .layout-header.s-header.scrolled{
	background-color: #02B899;
	box-shadow: 0 10px 20px rgba(0, 51, 51, 0.5);
}
.right-block{
	display: block;
	float: right;
	text-align: right;
	margin-right: 30px;
	ul{
		margin: 0;
		li{
			display: inline-block;
			width: 96px;
			margin: 0;
			margin-left: 7px;
			text-align: right;
			a:not([class*="btn"]){
				color:$colorGrey;
				&:hover{
					color:$colorGreyLight;
				}
				&:active{
					color:$colorGreyDark;
				}
				// &:visited{
				// 	color:$colorGrey;
				// }
			}
			&.active a{
				color:$colorBlue;
			}
			&.btn-li {
				width: 190px;
				margin-left: 15px;
			}
		}
		.header-vline{
			display: inline-block;
			height: 34px;
			width: 1px;
			background-color: #667593;
			opacity: 0.1;
		}
	}
	.login-link{
		border-left: 1px solid #eff1f4;
		height: 34px;
		padding-left: 27px;
    	padding-right: 15px;

	}
}

.logo-block{
	display: inline-block;
	margin-left: 30px;
	width: 240px;
    height: 36px;
    margin-top: 2px;
	background-image: url(../images/logo.svg);
	@extend %bg-pos;
	background-size: contain;
	opacity: .9;
	transition:opacity .15s linear;
	&:hover{
		opacity: .75;
	}
	&:active{
		opacity: 1;
	}
}

