/* Barebones Compass layout styles
 *
 * Header styles
 */
$layout-header-fixed: false !default;

.layout-header {
    @if ($layout-header-fixed != false and $layout-header-height > 0) {
        height: $layout-header-height;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 15px;
        z-index: 200;
        background-color: transparent;
    } @else if ($layout-header-height > 0) {
        height: $layout-header-height;
    }
    &.scrolled{
        background-color: rgba(255,255,255,.9);
    	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    &.s-header{
    	&.scrolled{
	    	// background-color: #52269d;
			background-color: rgba(82,38,157,.9);
	    	box-shadow: 0 5px 10px rgba(29, 10, 51, 0.5);
	    }
    }
    transition: all .15s linear;
}

body.risk-body .layout-header.s-header.scrolled{
	// background-color: #02B899;
	background-color: rgba(2,184,153,.9);
	box-shadow: 0 10px 20px rgba(0, 51, 51, 0.5);
}
body.risk-body {
    .btn-primary {
        box-shadow: 0 1px 2px rgba(0, 51, 51, 0.5);
        @include button-basic(
            $bg:        #00f7ce, $color:        #007373,
            $bg-hover:  #4dffe1, $color-hover:  #008c8c,
            $bg-active: #0be0bd, $color-active: #007373
        );
        &:hover{
            box-shadow: 0 2px 10px rgba(0, 51, 51, 0.5);
        }
        &:active,
        &:focus{
            box-shadow: 0 1px 2px rgba(255, 255, 255, 0.03), inset 0 1px 1px rgba(0, 76, 117, 0.25);
        }
    }
}
.right-block{
    position: relative;
	display: block;
	float: right;
	text-align: right;
	margin-right: 40px;
    z-index: 10000;
	ul{
		margin: 0;
		li{
			display: inline-block;
			width: 96px;
            height: 45px;
			margin: 0;
			margin-left: 7px;
			text-align: right;
			a:not([class*="btn"]){
				color:$colorGrey;
				&:hover{
					color:$colorGreyLight;
				}
				&:active{
					color:$colorGreyDark;
				}
				// &:visited{
				// 	color:$colorGrey;
				// }
			}
			&.active a{
				color:$colorBlue;
			}
			&.btn-li {
				width: 180px;
				margin-left: 20px;
			}
		}
		.header-vline{
			display: inline-block;
			height: 34px;
			width: 1px;
			background-color: #667593;
			opacity: 0.1;
		}
	}
	.login-link{
		border-left: 1px solid #eff1f4;
		height: 34px;
		padding-left: 27px;
    	padding-right: 15px;

	}
}

.logo-block{
	display: inline-block;
	margin-left: 30px;
	width: 240px;
    height: 36px;
    margin-top: 2px;
	background-image: url(../images/logo.svg);
	@extend %bg-pos;
	background-size: contain;
	opacity: .9;
	transition:opacity .15s linear;
	&:hover{
		opacity: .75;
	}
	&:active{
		opacity: 1;
	}
}


.nav-header {
    display: none;
    position: absolute;
    top: 60px;
    left: 100px;
    opacity: 0;
    transition: opacity .15s linear;
    li {
        float: none;
        height: 30px;
        margin-left: 0;
        margin-top: 0;
    }
}

.right-block ul li:hover .nav-header {
    display: block;
    opacity: 1;
}

.right-block ul.nav-header li {
    display: block;
    margin-left: 30px;
    width: 260px;
    height: 30px;
    padding: 0 20px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


/*
canvas{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'>    <feGaussianBlur stdDeviation=\'10\'/></filter>#blur");
  -webkit-filter:blur(10px) brightness(0.7);
  filter:blur(10px) brightness(0.7);
  opacity: (0.7);
  top:0;
	bottom:0;
	left:0;
	right:0;
}

        .blurheader {
            width: 100%;
            height: 75px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(255,255,255,.9);
            overflow: hidden;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'>    <feGaussianBlur stdDeviation=\'10\'/></filter>#blur");
  -webkit-filter:blur(10px) brightness(0.7);
  filter:blur(10px) brightness(0.7);
        }
*/