<div class="layout-footer">
    <div class="left-block">
    	<div class="copyrights">2015 © CommerceGate</div>
    	<ul>
    		<li><a href="news-list.html">News</a></li>
    		<li><a href="press-releases.html">Press-release</a></li>
    		<li><a href="coockies-policy.html">Terms of Use</a></li>
    		<li><a href="legal-notice.html">Legal Notice</a></li>
    		<li><a href="data-protection.html">Data Protection</a></li>
    	</ul>
    </div>
    <div class="right-block">
    	<div class="cicon-facebook"></div>
    	<div class="cicon-skype"></div>
    	<div class="cicon-linkedin"></div>
    </div>
</div>
