<!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="layout-header">
        	<a href="#" class="logo-block"></a>
        	<div class="right-block">
        		<ul>
        			<li><a href="#">Company</a></li>
        			<li><a href="#">Solutions</a></li>
        			<li><a href="#">Careers</a></li>
        			<li><a href="#" class="active">Contacts</a></li>
        			<li><a href="#" class="login-link">Login</a></li>
        			<li><a href="#" class="btn btn-primary">Sign Up</a></li>
        		</ul>
        	</div>
        </div>
