<div class="layout-footer s-footer">
    <div class="left-block">
    	<div class="copyrights">2015 © CommerceGate</div>
    	<ul>
            <li><a href="news-list.html">News</a></li>
            <li><a href="press-releases.html">Press-release</a></li>
            <li><a href="legal-notice.html">Legal Notice</a></li>
            <li><a href="data-protection.html">Data Protection</a></li>
    	</ul>
    </div>
    <div class="right-block">
        <div class="fb-follow cicon-facebook" data-href="https://www.facebook.com/CommerceGate/" data-layout="button" data-show-faces="true"></div>
        <a href="" class="cicon-skype"></a>
        <div href="" class="cicon-linkedin">
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
            <script type="IN/FollowCompany" data-id="250563"></script>   
        </div>
    </div>
</div>
