<!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="page-preloader">
            <div class="preloader-itself"></div>
        </div>
        
        <div class="layout-header s-header">
            <a href="index.html" class="logo-block"></a>
            <div class="right-block">
                <ul>
                    <li><a href="about.html">Company</a></li>
                    <li><a href="solutions.html">Solutions</a></li>
                    <li><a href="careers.html">Careers</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
        			<li class="btn-li"><a href="#" class="btn btn-transparent">My CommerceGate</a></li>
        		</ul>
        	</div>
        </div>
