/* Barebones Compass layout styles
 *
 * General layout styles
 */

.layout-content {
    margin: 0;
}

/* Default layout container width
 *
 * NOTE: This should not be changed here. Change it in base/_variable.scss
 *
 * @see base/_variable.scss
 */
$layout-container-width: 1280px !default;

.layout-container {
    width: $layout-container-width;
    margin: 0 auto;

    @extend %clearfix;
}

.layout-container-fluid.fix{
	width: $layout-container-width;
}

.layout-container-fluid {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;

    @extend %clearfix;
}



@media all and (min-width: 1280px) {
	 .layout-container-fluid.fix{
		width: 1280px !important;
	}
}

body.about-body{
    background-image: none;
    background-color: #EBECEF;
}

#careerModal {
    display: none;
}