/* Barebones Compass header styles
 *
 * Header element styles
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.33;

    margin: $base-margin 0;
}

h1,
h2,
h3 {
    margin-top: $base-margin;
}

h1 {
    font-size: rem(50px);
}
h1.big {
    font-size: 54pt;
}

h2 {
    font-size: rem(36px);
}
h2.big {
    font-size: 42pt;
}
h3 {
    font-size: rem(24px);
}

h4 {
    font-size: rem(20px);
}

h5 {
    font-size: rem(16px);
}

h6 {
    font-size: rem(14px);
}
