/* Barebones Compass list styles
 *
 * List element styles
 */

ul,
ol {
    margin: $base-margin 0;
    padding: 0;
    padding-left: 0;

    &.list-unstyled {
        padding-left: 0;
        list-style: none;
    }
    &.list-style{
    	list-style: disc;
    	padding-left: 20px;
    }
}

li {
    margin: ($base-margin / 2) 0;
}
