@media (max-width: 601px) {
	.news-card{
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	.affix{
		display: none;
	}
	.cards-wrapper{
		margin-right: 0;
	}
	.container{
		 width: 100%;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	
	.newsletter-news-wrapper{
		margin-left: -10px;
	}
}

@media (min-width: 993px) and (max-width: 1280px) {
	// .cards-wrapper.free{
	// 	margin-left: 15px;
	// }
	.newsletter-news-wrapper{
		margin-left: -10px;
	}
}

@media (min-width: 1280px) {

}