@media (max-width: 768px) {
	.affix{
		display: none;
	}
	.cards-wrapper{
		margin-right: 0;
	}
	.container{
		 width: 100%;
	}
	.head-block .carousel-wrap .carousel {
	    width: 100%;
	}

	.about-p{
		width: 100%;
	}
}

@media (min-width: 769px) and (max-width: 992px) {

	.newsletter-news-wrapper{
		margin-left: -10px;
	}
	.about-p{
		width: 100%;
	}
}

@media (min-width: 993px){

	.ppad{
	    p{
	        padding-right: 75px;
	    }
	}
}

@media (min-width: 993px) and (max-width: 1280px) {
	// .cards-wrapper.free{
	// 	margin-left: 15px;
	// }
	.newsletter-news-wrapper{
		margin-left: -10px;
	}
}

@media (min-width: 1280px) {
	.legal-not-affix{
		margin-left: -70px;
	}
	.container.support-cont,
	.container.solutions-cont{
		  .cards-wrapper{
		    margin-right: -34px;
		  }
	}

	.careeers-cont{
		.cards-wrapper.free{
			text-align: left;
			.news-card:nth-of-type(4){
				margin-right: 0;
			}
		}
	}

}

@media (max-width: 960px) {
	.news-card{
		margin-right: 0;
	}
	.evolution-text{
		span{
			width: 300px;
			margin-right: 160px;
			&:after{
				display: none;
			}
		}
	}

    .mobile-li {
        display: block;
        margin-left: 20px !important;
    }

    .right-block ul li:hover .nav-header {
        display: none !important;
        opacity: 0;
    }

	.menu-icon{
		height: 80px;
		width: 30px;
		position: fixed;
		top:0;
		right: 20px;
		z-index: 9999999;
		&.active .hamb{
			background-color: transparent;
			transition: background-color 0s 0s linear;
			&:after{
				transform: rotateZ(45deg) translate(8px, 6px);
			}
			&:before{
				transform: rotateZ(-45deg) translate(8px, -6px);
			}
		}
		.hamb{
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 30px;
			height: 2px;
			border-radius: 5px;
			background-color: #000;
			transition: background-color 0s .15s linear;
			&:after,
			&:before{
				display: block;
				position: absolute;
				content: "";
				width: 30px;
				height: 2px;
				border-radius: 5px;
				background-color: #000;
				transition: transform .15s linear;
				transform-origin: 50% 50%;
			}
			&:after{
				top:-10px;
				left: 0;
			}
			&:before{
				bottom: -10px;
				left: 0;
			}
		}
	}

	body .layout-header.s-header{
		.menu-icon{
			.hamb{
				background-color: #fff;
				&:after,
				&:before{
					background-color: #fff;
				}
			}
			&.active{
				.hamb{
					background-color: transparent;
				}
			}
		}
		.right-block{
			ul{
				li{
					a:not(.btn){
						color:#000!important;
						&:active,
						&:hover,
						&:focus{
							color:#000!important;
						}
					}
				}
			}
		}
	}

	.layout-header{

		transition:all .15s ease-in;
		&.active{
			// transform:translateX(-90vw);
			transform:translateX(-80vw);
			.right-block{

				box-shadow: 0 2px 15px rgba(55, 80, 135, 0.4);
				&:before{
					opacity: 1;
					display: block;
				}
			}
		}
	}

	.layout-header .right-block{
		display: block;
		width: 80vw ;
		height: 100vh;
		position: fixed;
		top:0;
		left: auto;
		right: -80vw;
		transition:all .15s ease-in;
		margin-right: 0;
		background-color: #fff;
		&:before{
			position: absolute;
			display: none;
			content:"";
			top:0;
			left: -100vw;
			height: 100%;
			width: 100vw;
			opacity: 0;
			background-color: rgba(0,0,0,0.15);
			z-index: 99;
			transition:all .15s ease-in;

		}

		ul{
			width: 80%;
			float: right;
			margin-top: 20px;
			li{
				display: block;
				width: 100%;
				text-align: left;
				background-color: #fff;
				margin-left: 0;
				a{
					display: block;
					padding: 14px;
					padding-left: 0;
				}
				&.btn-li{
					border-bottom: none;
					margin-left: 0;
					a{
						padding: 6px;
						width: 100%;
						margin-top: 20px;
					}
				}
			}
		}
	}
}

.news-and-events .slide {
    margin: 0 auto;
    width: 390px;
}

@media (max-width: 644px) {
    .wow {
        visibility: visible !important;
        animation-name: none !important;
    }
    .desk-only,
    .head-globe,
    .head-arrow-down,
    .map-bg,
    .about-map {
        display: none;
    }
    .mobile-only {
        display: block;
    }
    .layout-content {
        padding-top: 35px !important;
    }
	.news-card{
		margin-right: 0;
	}
	.evolution-text{
		span{
			width: 300px;
			margin-right: 160px;
			&:after{
				display: none;
			}
		}
	}
        .m-top {
            height: 30px;
        }
    .mobile-glob {
        display: block;
        position: absolute;
        bottom: -70px;
        right: -30px;
    }

    .mobile-world-globe {
        display: block;
        position: relative;
        left: 10%;
    }

    .mobile-left {
       text-align: left !important;
       padding: 0 10px 0 10px;
    }

    .separator100 {
        height: 50px;
    }

    .green-square {
        width: 100%;
        box-shadow: none;
    }

    .m-pricing {
        .col-md-4 {
            display: inline-block;
            padding: 0;
            width: 180px;
        }
        .info-block h3 {
            color: #1f2b3a;
            font-size: 21px;
        }
    }

    .container.solutions-cont {
        .btn-transparent {
            display: block;
            width: 90%;
            margin: 40px auto 20px auto;
        }
        .news-card{
			width: 100%!important;
            max-height: 440px;
            .card-content {
                padding: 0 20px;
            }
		}
        .aligncenter {
            text-align: left!important;
            font-size: 18px;
        }

    }

	.menu-icon{
		height: 80px;
		width: 30px;
		position: fixed;
		top:0;
		right: 20px;
		z-index: 9999999;
		&.active .hamb{
			background-color: transparent;
			transition: background-color 0s 0s linear;
			&:after{
				transform: rotateZ(45deg) translate(8px, 6px);
			}
			&:before{
				transform: rotateZ(-45deg) translate(8px, -6px);
			}
		}
		.hamb{
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 30px;
			height: 2px;
			border-radius: 5px;
			background-color: #000;
			transition: background-color 0s .15s linear;
			&:after,
			&:before{
				display: block;
				position: absolute;
				content: "";
				width: 30px;
				height: 2px;
				border-radius: 5px;
				background-color: #000;
				transition: transform .15s linear;
				transform-origin: 50% 50%;
			}
			&:after{
				top:-10px;
				left: 0;
			}
			&:before{
				bottom: -10px;
				left: 0;
			}
		}
	}

	body .layout-header.s-header{
		.menu-icon{
			.hamb{
				background-color: #fff;
				&:after,
				&:before{
					background-color: #fff;
				}
			}
			&.active{
				.hamb{
					background-color: transparent;
				}
			}
		}
		.right-block{
			ul{
				li{
					a:not(.btn){
						color:#000!important;
						&:active,
						&:hover,
						&:focus{
							color:#000!important;
						}
					}
				}
			}
		}
	}

	.layout-header{

		transition:all .15s ease-in;
		&.active{
			// transform:translateX(-90vw);
			transform:translateX(-80vw);
			.right-block{

				box-shadow: 0 2px 15px rgba(55, 80, 135, 0.4);
				&:before{
					opacity: 1;
					display: block;
				}
			}
		}
	}

	.layout-header .right-block{
		display: block;
		width: 80vw ;
		height: 100vh;
		position: fixed;
		top:0;
		left: auto;
		right: -80vw;
		transition:all .15s ease-in;
		margin-right: 0;
		background-color: #fff;
		&:before{
			position: absolute;
			display: none;
			content:"";
			top:0;
			left: -100vw;
			height: 100%;
			width: 100vw;
			opacity: 0;
			background-color: rgba(0,0,0,0.15);
			z-index: 99;
			transition:all .15s ease-in;

		}

		ul{
			width: 80%;
			float: right;
			margin-top: 20px;
			li{
				display: block;
				width: 100%;
				text-align: left;
				background-color: #fff;
				margin-left: 0;
				a{
					display: block;
					padding: 14px;
					padding-left: 0;
				}
				&.btn-li{
					border-bottom: none;
					margin-left: 0;
					a{
						padding: 6px;
						width: 100%;
						margin-top: 20px;
					}
				}
			}
		}
	}
	.content-wrapper{
		transition:all .15s ease-in;
		position: relative;
		&.active{
			transform:translateX(-80vw);
			&:after{
				position: fixed;
				top:0;
				right:0;
				height: 100%;
				width:100%;
			}
		}
	}

	.layout-header .logo-block {
	    width: 200px;
	    margin-top: 5px;
        margin-left: 10px;
	}

	.carousel-wrap{
		.carousel .item{
			h1{
				font-size: 35px;

			}
				.inf-block{
					.inf-item{
						width: 100%;
						vertical-align: top;
						margin-bottom: 5px;
						.inf-text{
							vertical-align: top;
							line-height: 26px;

							[class^="cicon"] {
								color: #0094de;
								font-size: 27px;
								display: inline-block;
								width: 45px;
							}
						}
					}
				}

		}
		.head-content{
			width: 100%;
			padding: 10px;
		}
	}

	.simple-card {
		    padding: 20px;
    		padding-top: 105px;
    		padding-left: 20px;
    		margin-bottom: 20px;
    		.icon-placeholder{
    			    left: 50%;
    			    top:20px;
    margin-left: -40px;
    		}
    		.card-text{
    			    border-top: 1px solid $grey;
    			    padding-top: 20px;
    		}
	}
		.bx-next,
		.bx-prev{
			display: none !important;
		}

        .bx-wrapper {
            margin-bottom: 60px;
        }

		.bx-wrapper .fullscreen-slider .slide{
			width: 300px !important;
			.news-slide-card{
				width: 300px !important;
				height: 100% !important;
			}
		}
		.fullscreen-slider{
			max-height: none !important;
		}

        .layout-content:after {
            display: none;
        }

        .layout-footer {
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 60px;
            padding-bottom: 85px;

            &.layout-footer { // Trick to get higher selector priority
                height: auto;
                padding-top: 20px;
            }

            .left-block {
                &.left-block {
                    display: block;
                    margin: 0 auto;
                }

                ul {
                    display: block !important;
                    margin: -3px -10px !important;

                    &:after {
                        content:"";
                        display: table;
                        clear: both;
                    }

                    li {
                        text-align: left !important;
                        margin: 0 !important;
                        padding: 3px 10px;
                        display: block !important;
                        float: left;
                        width: 50% !important;
                    }
                }

                .copyrights {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    border-top: 1px solid #dbdee4;

                    &.copyrights {
                        border-right: 0;
                        margin: 0;
                        height: auto;
                        display: block;
                        padding: 20px 0;
                    }
                }
            }

            .right-block{
                display: block;
                position: absolute;
                top: -50px;
                width: 100%;
                float: none !important;
                margin: 10px auto;
                text-align: center !important;

                a[class^="cicon"] {
                    margin: 0 5px !important;
                }
            }
        }

		body .about-head-cont{
			width: 100%;
			left: 0 !important;
			padding: 20px;
			h1{
				font-size: 35px;
                margin-top: 40px;
			}
		}

		.about-body {
            .about-p{
                width: 100% !important;
                padding: 0 10px 0 10px;
                text-align: left !important;
                font-size: 16px !important;
                margin: 0;
            }
            .rect-img {
                position: relative;
                width: 440px;
                height: 430px;
                left: -50px;
                margin: 10px 0 0;
            }
        }

        .news-and-events .slide {
            margin-bottom: 60px;
        }
        .news-slide-card {
            float: none;
            margin-left: 0;
        }

		.about-content .bx-wrapper .bx-viewport{
			height: 720px !important;
			.team-slider{
				height: 720px !important;
				margin-left: 5px !important;
				.slide{
					width: 300px !important;
					.team-card{
						width: 300px;
						.left-side{
							display: block;

							width: 100%;
						}
						.right-side{
							display: block;

							width: 100%;
							padding: 20px !important;
							background-color: #fff;

						}
					}
				}
			}
		}

        .leftside {
            padding-left: 10px;
        }

        .timeline-block {
            padding-left: 145px;
        }

        .up-block {
            margin-top: -50%;
            padding: 0;
        }

		#about-map-svg{
			height: 100%;
			 //    width: 200%;
    // margin-left: -50%;
		}
		.about-content .v-block {
			height: auto !important;
		}

			.about-content .about-graph-bg {

				.total-graph{
					position: relative;
				width: 500px !important;
				overflow-x: scroll;
				left: 0!important;
				transform:translateX(0)!important;
				.circles-block .circle-wrapper{
					&.circle1{
						    bottom: 39%!important;
						left: 0.5%;
					}
					&.circle2{
						bottom: 40%!important;
						left: 17.5%;
					}
					&.circle3{
						bottom: 43%!important;
						left: 34.9%;
					}
					&.circle4{
						bottom: 53%!important;
						left: 52.5%;
					}
					&.circle5{
						bottom: 58.5%!important;
						left: 70%;
					}
					&.circle6{
						bottom: 79%!important;
						left: 87.3%;
					}
					&.circle7{
						bottom: 89.8%!important;
						left: 98%;
					}
				}
			}
			.bottom-info{
				ul {
					li{
						font-size: 13px;
						width: 11%!important;
						margin-right: 24px!important;
						&:nth-of-type(6){
							margin-right: 10px!important;
						}
						&:last-of-type{
							width: 240px!important;
						}
					}
				}
			}
		}

		.sagrada-bg-card{
			height: 200px !important;
			min-height: auto !important;
		}
		.about-content .sagrada-bg-card .sagrada-bg #sagrada-svg{
			margin-right: -95px;
		}
		.ec-graph-colls{
			bottom: 64px !important;
		}

		.head-block{
			height: auto!important;
			min-height: 60vh!important;
			padding-bottom: 20px;
            box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
		}

		h1{
			font-size: 35px !important;
		}

		.pricing-cont .btn-primary{
			margin-top: 20px!important;
		}

		.news-card {
			img{
				width: 100%!important;
			}
			&.xl-card{
				width: 100% !important;
				height: auto;
			}
		}
		.newsletter-news-wrapper{
			width: 100%!important;
			.get-newsletter,
			.side-news{
				width: 100%!important;
			}
		}

		.news-card .card-photo img.news-head-icon {
			width: 100px !important;
		}

		.contacts-wrapper{
			h3{
				padding-left: 0!important;
			}
		}
		.contacts-form-block{
			margin-top: 30px;
		}

		.support-cont{
			.cards-wrapper,
			.news-card{
				width: 100%!important;
			}
		}

		.sol-body,
		.risk-body{
			.v-block{
				    height: auto !important;
				    &.dialog-block{
				    	height: 340px !important;
				    }
			}
		}

		.sol-body .head-screen .container,
		.risk-body .head-screen .container{
			position: relative!important;
			top:0!important;
			left: 0!important;
			transform:translate(0,0)!important;
			padding-top: 70px;
			padding-bottom: 70px;
		}
		.sol-body .bx-wrapper .slide,
		.risk-body .v-block .bx-wrapper .slide{
			width: 250px !important;
			.info-block{
				width: 250px!important;
				.info-block-cont {
					width: 185px!important;
				}
			}
		}
		.sol-body .v-block.ext-bg .svg-bg {

			width: 165%!important;
			margin-left: -35%!important;
			svg{
				width: 100% !important;
			}
		}
		.risk-info-wrapper .risk-info-item{
			width: 47%!important;
    		margin: 10px auto !important;
		}
		.risk-body .v-block.overflowscrollX:after{
			display: none!important;
		}
		.show-mob{
			display: block;
		}

		.scrollX{
		        overflow-x: scroll!important;
		}
		.v-block.cust-bg-graph img.right-img{
			    width: 50px;
			    transform:translate(0,0);
			    top:15px;
			    right:45px;
		}
		.head-block-middle-content .careers-photo-block{
			margin-bottom: 60px;
				img{
					width: 100%;
				}
				.circle{
					top: 40%;
					left: 35%;
				}
				.circle-arrow {
					bottom: 6px;
					left: 48%;
				}

                svg#you-can {
                    position: absolute;
                    top: -35px;
                    width: 250px;
                    margin-left: 50px;
                }
			}

            .m-center-title {
                text-align: center;
            }

		.careeers-cont{
			padding-top: 30px!important;
			.separator50{
				display: none;
			}
			.info-block{
                width: 165px;
				height: auto!important;
				margin-bottom: 20px;
			}
		}
		.cards-wrapper.free .card-row .bx-wrapper .career-slider .slide{
			width: 285px!important;
		}

		// .fadeInUp,
		// .fadeIn{
		// 	opacity: 1!important;
		// 	transform:translate(0)!important;
		// }

	.ec-graph-colls{
		.coll-item{
		transition:height .75s ease-out;
			&:nth-of-type(1){
				height: 15%;
				transition-delay: .5s;
			}
			&:nth-of-type(2){
				height: 30%;
				transition-delay: .8s;
			}
			&:nth-of-type(3){
				height: 40%;
				transition-delay: 1.1s;
			}
			&:nth-of-type(4){
				height: 50%;
				transition-delay: 1.4s;
			}
			&:nth-of-type(5){
				height: 60%;
				transition-delay: 1.7s;
			}
			&:nth-of-type(6){
				height: 70%;
				transition-delay: 2s;
			}
		}
	}

	.layout-header.s-header.scrolled {
		background-color: rgba(82, 38, 157, 1)!important;
	}
	body.risk-body .layout-header.s-header.scrolled {
		background-color: rgba(2, 184, 153, 1) !important;
	}

	.sol-body .v-card-slider .slide:last-of-type .icon-placeholder80 {
		left: 10px!important;
	}

	#adout-chart{
		margin-right: 20px;
	}

	.head-block.planetbg {
		background-position: -50% 125%!important;
		background-size: 108%!important;
	}


	.head-block canvas {
		display: none!important;
	}

}

@media (min-width: 361px) {
    .news-wrapper.career-list-cont.head-screen {
        .container.desktop {
            display: block;
        }

        .container.mobile {
            display: none;
        }
    }
}

@media (max-width: 360px) {
/*
    .layout-header {
        height: 75px;
        background-image: linear-gradient(to bottom left, #e8eaed 0%, #f3f4f5 100%);
    }
*/
    #careerModal .modal-content {
        width: 100%;
        padding: 30px 10px 15px 10px;
    }

    .news-wrapper.career-list-cont.head-screen {
        background-image: linear-gradient(to bottom left, #e8eaed 0%, #f3f4f5 100%);
        padding-bottom: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

        .container.desktop {
            display: none;
        }

        .container.mobile {
            display: block;
        }

        .career-list-cont {
            padding-top: 75px;
            padding-bottom: 0;
        }

        .btn {
            width: 100%;
            margin: 20px 0;
        }

        h1 {
           text-align: center;
        }

        h3 {
           color: #1f2b3a;
           text-align: left;padding-top: 22px;
           margin: 15px 0;
           border-top: 1px solid #d4d8de;
        }

        .arrow {
            position: absolute;
            width: 8px;
            height: 8px;
            margin: 6px 0 0 6px;
            transform: rotate(225deg);
            border-left: 1px solid #8d95a6;
            border-top: 1px solid #8d95a6;
            transition: all 0.6s ease-in-out;
        }

        .up {
            transform: rotate(45deg);
            margin: 10px 0 0 6px;
            border-left: 2px solid #1f2b3a;
            border-top: 2px solid #1f2b3a;
        }

        .collapse-title {
            display: block;
            color: #1f2b3a;
            font-weight: 700;
            border-top: 1px solid #d4d8de;
            padding: 15px 0;
            background-color: #fff;
            padding: 10px;
            border-radius: 4px 4px 0 0;
            box-shadow: 0px 2px 7px -2px #616061;
        }

        .collapse-title.collapsed {
            display: block;
            color: #8d95a6;
            font-weight: 400;
            border-top: 1px solid #d4d8de;
            padding: 15px 0;
            background-color: #ECECEC;
            padding: 10px;
            border-radius: 0;
            box-shadow: none;
        }

        .vacancies-title {
            display: block;
            color: #8d95a6;
            padding: 5px 0;
        }

        li.active .vacancies-title {
            color: #0094de;
        }

        .collapse.in {
            display: block;
            visibility: visible;
            background-color: #fff;
            padding: 10px;
            border-radius: 0 0 4px 4px;
            box-shadow: 0px 2px 7px -2px rgba(97,96,97,1);
            margin-bottom: 10px;
        }

        .tab-content {
            padding: 0;
        }
    }

    .about-map{
		margin-top: -30px;
	}

}
