.ccat-column {
    width: 290px;
    display: inline-block;
    zoom: 1;
    margin-right: 20px;
    vertical-align: top;
}
.ccat-column:nth-of-type(4) {
    margin-right: 0;
}
.column-wrapper{
  margin-right: -125px;
}

.news-list-block{
  // margin-right: -30px;
}


// .ccat-4{
//   .ccat-column:nth-of-type(5n){
//     width: 305px !important;
//   }
// }
// @media (min-width: 1280px) {
//     .ccat-3{
//       .ccat-column:nth-of-type(4n){
//         margin-right: 0;
//       }
//     }
// }



.news-wrapper{
  display: block;
  width: 100%;
  // margin-right: -30px;
  margin-bottom: 50px;
  @extend %clearfix;
}
.news-card{
    display: block;
    // float: left;
    position: relative;
    vertical-align: top;
    width: 290px;
    height: auto;
    overflow: hidden;
    text-align: left;
    margin: 0 20px 20px 0;
    padding-bottom: 2px;
    box-shadow: 0 1px 3px rgba(0, 78, 141, 0.25);
    cursor: pointer;
    transition: all .15s linear;
    background-color: #fff;
    z-index: 10;
    @extend %clearfix;
    &:hover{
      box-shadow: 0 2px 30px rgba(0, 78, 141, 0.45);
      z-index: 20;
    }
    &.xs-card{
      max-height: 220px;
      padding-top: 20px;
    }

    &.s-card{
        max-height: 350px;
        .card-photo{
          max-height: 145px;
        }
    }

    &.m-card{
        max-height: 410px;
        .card-photo{
          max-height: 195px;
        }
    }
    &.xxs-card{
        height: 170px;
        text-overflow: ellipsis;
        .card-title{
          color:$colorBlue;
          font-size: 24px;
          font-weight: 300;
          margin-top: 20px;
        }
    }


    &.xl-card{
    width: 100%;
    margin: 0 0 20px;
      .card-title{
        font-size: 24px;
      }
      .card-photo{
        max-height: 485px;
        height: auto;
      }
      .card-date{
        max-width: 400px !important;
      }
    }


  h3{
    margin-bottom: 10px;
  }
  h5{
    margin: 0;
  }
  .card-title{
    margin: 15px 0 10px;
    display: block;
  }
  .card-photo{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
        &:after{
            display: block;
            position: absolute;
            content: "";
            bottom: 5px;
            z-index: -1;
            left: 30px;
            height: 1px;
            width: 230px;
            background-color: #eff1f4;
        }
    img{
        display: block;
        min-width: 100%;
        min-height: 100%;
        &.news-head-icon{
            position: relative;
            width: auto;
            height: auto;
            display: block;
            min-width: auto;
            min-height: auto;
            margin: 30px auto 30px;
        }
    }
  }
  .card-content{
    padding: 0 30px;
    p{
      text-overflow: ellipsis; 
    }
  }

  .card-footer{
    padding: 10px 0;
    border-top:1px solid #eff1f4;
    @extend %clearfix;
    a.card-tag{
        display: inline-block;
        float: right;
        text-align: center;
        text-transform: uppercase;
        color:$colorGrey;
        font-size: 14px;
        margin-left: 10px;
        background-color: #e6f4fb;
        padding: 3px 6px;
        cursor: pointer;
        transition:color .15s linear;
        &:hover{
            color:#c3cad9;
        }
        &:active{
            color:#666c80;
        }
    }
    .card-date{
      float: left;
      max-width: 207px;
    }
  }
}

.newsletter-news-wrapper{
  display: block;
  width: 290px;
  .list-style{
    color: #fff;
  }
}

.side-news{
    display: block;
    // float: left;
    position: relative;
    vertical-align: top;
    width: 290px;
    height: auto;
    overflow: hidden;
    text-align: left;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0, 78, 141, 0.25);
    cursor: pointer;
    transition: all .15s linear;
    background-color: #fff;
    h3{
      color:#1f2b3a;
      margin-top: 0;
    }
    .side-item{
      margin-bottom: 15px;
    }
    .date{
      color:#8d95a6;
      font-size: 12px;
    }
    .gery-separ{
      display: block;
      width: 100%;
      height: 1px;
      margin: 25px 0;
      background-color: #eff1f4;
    }
}




.news-slide-card{
    display: block;
    float: left;
    position: relative;
    vertical-align: top;
    width: 390px;
    height: auto;
    overflow: hidden;
    margin: 20px;
    padding: 30px;
    padding-bottom: 2px;
    box-shadow: 0 1px 3px rgba(0, 78, 141, 0.25);
    cursor: pointer;
    transition: all .15s linear;
    background-color: #fff;
    z-index: 10;
    @extend %clearfix;
    &:hover{
      box-shadow: 0 2px 30px rgba(0, 78, 141, 0.45);
      z-index: 20;
    }
  &.xs-card{
    height: 220px;
  }
    &.s-card{
        height: 350px;
    }
    &.m-card{
        height: 410px;
        .card-photo{
            height: 195px;
          }
    }
    &.xl-card{
    height: 410px;
    width: 910px;
    margin: 20px 0;
        .card-photo{
              height:485px;
            }

    }

  h3{
    margin-bottom: 10px;
  }
  h5{
    margin: 0;
  }

  .card-footer{
    padding: 10px 0;
    border-top:1px solid #eff1f4;
    @extend %clearfix;
    a.card-tag{
        display: inline-block;
        float: right;
        text-align: center;
        text-transform: uppercase;
        color:$colorGrey;
        font-size: 14px;
        margin-left: 10px;
        background-color: #e6f4fb;
        padding: 3px 6px;
        cursor: pointer;
        transition:color .15s linear;
        &:hover{
            color:#c3cad9;
        }
        &:active{
            color:#666c80;
        }
    }
    .card-date{
      float: left;
      max-width: 207px;
    }
  }
}


@media (max-width: 992px) {
    .news-list-block{
        margin-right: 0;
    }

    .news-card{
        &.xl-card{
          width: 600px;
        }
    }
}



.container.support-cont{
  .news-card{
      height: 340px;
      display: inline-block;
    .card-photo {
      height: 155px;
    }
  }
  .card-title{
    font-weight: 300;
    color:$colorBlue;
  }
}

.container.solutions-cont{
  .news-card{
      height: 490px;
      max-height: 490px;
      display: inline-block;
    .card-photo {
      height: 155px;
    }
  }
  a {
    position: absolute;
    bottom: 30px;
  }
  .main-h{
    margin-bottom: 20px;
  }
  .card-title{
    font-weight: 300;
    color:$colorBlue;
  }
  .btn-transparent {
    margin-top: 15px;
  }
}

.cards-wrapper{
  margin: 40px -15px 50px 0;
  text-align: center;
  &.free{
    .news-card{
      display: inline-block;
    }
  }
}
.card-row{
  .bx-wrapper{
    margin: 0 !important;
    height: 0;
    overflow-y: hidden;
    transition: height .20s linear;
    background-color: #f0f2f4;
    &.open{
        height: 205px;
    }
  }
  .news-card.open{
    overflow: visible !important;
    &:after{
        display: block;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom: 10px solid #f0f2f4;
      }
  }
}