.head-block{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #fcfdfd;
	overflow: hidden;
	&.planetbg{
		background-image: url(../images/head-bg.png);
		background-repeat: no-repeat;
		background-position: 100% 170px;
		background-size: contain;
	}
	.head-block-middle-content{
		height: 100%;
    	position: relative;
    	padding-top: 15%;
    	.car-container{
				height: 100%;
    		position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
    	}
	}
	.carousel-wrap{
		.carousel{
			width: 700px;
			height: 100vh;
			text-align: left;
			.car-container{
				position: relative;
				height: 100%;
				.head-content {
					position: absolute;
					top:50%;
					left: 50%;
					transform: translate(-50%, -50%);
					margin-top: 0;
				}
			}
			.item{
				h1{
					text-align: left;
				}
			}
			.inf-block{
				margin-top: 30px;
			}
			.inf-item{
				display: inline-block;
				width: 120px;
				vertical-align: top;
				height: auto;
				.icon-placeholder{
					display: block;
					width: 30px;
					height: 30px;
					background-color: #ccc;
					color:$colorBlue;
				}
				.inf-text{
					color:$colorBlue;
					&:hover{
						color:$colorBlueLight;
					}
					&:active{
						color:$colorBlueDark;
					}
				}

			}
		}
		.carousel-indicators {
		    bottom: 5%;
		    li{
		    	border: 2px solid #dde6f0;
		    	background-color: #dde6f0;
		    	&.active{
		    		border-color:#dde6f0;
		    		background-color: transparent;
		    	}
		    }
		}
	}
}

.head-arrow-down{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 30px;
	left:50%;
	margin-left: -18px;
	transform:rotate(45deg);
	border-right:1px solid $colorGrey;
	border-bottom: 1px solid $colorGrey;
	background-color: transparent;
	cursor: pointer;
	z-index: 99;
}


.news-and-events{
	& > h2{
		text-align: center;
		margin-top: 80px;
	}
}





.pricing-cont{
	.icon-placeholder80{
		display: block;
		margin: 0 auto;
		width: 80px;
		height: 80px;
		img{
			width: 100%;
			
		}
	}
	.btn-primary{
		margin-top: 85px;
	}
	.contact-sale{
		display: inline-block;
	    margin-bottom: -3px;
	    margin-right: 8px;
	    width: 20px;
	    height: 16px;
	}
}

.green-square{
	display: block;
    width: 290px;
    height: 288px;
    background-image: linear-gradient(to bottom left, #0BE699 0%, #1AECFF 100%);
    box-shadow: 0 15px 45px rgba(55, 80, 135, 0.3), 0 0 35px rgba(55, 80, 135, 0.05);
    color:#fff;
    padding-top: 75px;
    text-align: center;
    h2{
		font-weight: 300;
		margin: 0;
    }
    p{

    }
}
.careeers-cont{
	.icon-placeholder80{
		display: block;
		margin: 0 auto;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin-bottom: 15px;
		overflow: hidden;
		background-color: #ccc;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
	}
	.contact-sale{
		display: inline-block;
	    margin-bottom: -3px;
	    margin-right: 8px;
	    width: 20px;
	    height: 16px;
	    background-color: #ccc;
	}
	.info-block{
		display: inline-block;
		width: 235px;
		img{
			max-height: 100%;
    		// margin-left: -25%;
			text-align: center;
		}
	}
}

.info-block{
	height: 220px;
	h3{
		margin-bottom: 5px;
	}
	p{
		margin: 0;
	}
}

.news-wrapper{
	background-color: #fff;
}

.news-main-item-block{
	img{
		width: 100%;
		max-width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.news-footer{
	    padding: 10px 0;
	    border-top:1px solid #eff1f4;
	    @extend %clearfix;
	    a.card-tag{
	        display: inline-block;
	        float: right;
	        text-align: center;
	        text-transform: uppercase;
	        color:$colorGrey;
	        font-size: 14px;
	        background-color: #e6f4fb;
	        padding: 3px 6px;
	        margin-left: 10px;
	        cursor: pointer;
	        transition:color .15s linear;
	        &:hover{
	            color:#c3cad9;
	        }
	        &:active{
	            color:#666c80;
	        }
	    }
	    .card-date{
	    	float: left;
	    	max-width: 207px;
	    }
	  }

}

.pr-cont{
	.news-main-item-block{
		background-color: #fff;
		padding-bottom: 30px;
		p{
			padding: 0 30px;
		}
	}
}
.contacts-cont{
	background-image: linear-gradient(135deg, #FFF 0%, #EDEFF2 100%);
}
.career-list-cont{
	padding-top: 100px;
    padding-bottom: 75px;
    .card-row .news-card:active{
    	background-color: #EEF0F3;
		box-shadow: inset 0 1px 3px rgba(99, 100, 102, 0.25);
    }

}

.career-list-cont.news-and-events{
	.main-h{
		margin-top: 30px;
	}
}
.contacts-wrapper{
	width: 100%;
	.contact-item{
		display: inline-block;
		width: 285px;
		margin-bottom: 30px;
		h3{
			padding-left: 30px;
		}

	}
	.contact-footer{
		display: block;
		border-top: 1px solid $borderGrey;
		margin-top: 30px;
		padding-top: 30px;
	}
}
.phone-icon,
.icon-email,
.icon-local{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	@extend %bg-pos;
	background-size: contain;
}

.phone-icon{
	background-image: url(../images/phone.svg);
}
.icon-email{
	background-image: url(../images/mail.png);
}
.icon-local{
	background-image: url(../images/local.svg);
}
.contacts-form-block{
	background-color: #fff;
	padding: 30px 40px;
	margin-bottom: 50px;
}

.map-bg{
	width: 100%;
	margin-top: -150px;
    margin-bottom: -90px;
}

.spy-content{
	h2,
	h3 {
		color:#1f2b3a;
	}
}
#spy-list{
	li {
		list-style: none;
	}
}

.black-text {
	color:#1f2b3a;
}

.backlink{
	cursor: pointer;
	.cicon-commerce-arrow{
		display: inline-block;
		transform:scaleX(-1);
		margin-right: 10px;
		&:before{
			position: absolute;
    		top: -14px;
		}
	}
}

.layout-content.news-page-cont{
	padding-top: 0;
}
.affix li a.active{
	color:#000;
}

.head-block canvas{
	position: absolute;
	top:0;
	left:0;

}

.about-body{
	.about-head-cont{
		max-width: 490px;     
		position: absolute;
		top: 50%;
		left: 10%;
		transform: translateY(-50%);
		z-index: 2;
	}
	.about-p{
	  	width: 785px;
		margin: 10px auto 60px;
	  &.big-p{
		font-size:20px;
	  }
	  &.middle-p{
		width: 620px;
	  }
	}
	.rect-img{
		position: absolute;
		top:0;
		left: 0;
	}
}

.timeline-block{
	display: block;
	margin-left:65px;
	width: 100%;
	height: 210px;
	background-image: url(../images/timeline.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}
.about-map{
	min-width: 100%;
	width: 100%;
}

.about-content{
  .bx-viewport{
      height: 392px !important;
  }
  .v-block{
      display: inline-block;
      width: 100%;
      background-color: #fff;
  	  box-shadow: 0 1px 3px rgba(0, 78, 141, 0.25);
      height: auto;
      min-height: 335px;
      height: 340px;
      padding: 30px;
      vertical-align: top;
      margin-bottom: 15px;
      cursor: pointer;
      z-index: 10;
      overflow: hidden;
      transition: box-shadow .15s linear;
      &:hover{
      	box-shadow: 0 2px 30px rgba(0, 78, 141, 0.45);
      	z-index: 20;
      }
      ul{
        padding-left: 20px;
      }
      li {
        list-style: disc;
      }
      h3{
      font-weight:300; 
      margin-top: 10px;
      color:#2d3947;
      }
      img{
        max-width: 100%;
      }
      &.fix-vblock{
        width: 380px;
      }
      &.middle-cont{
        padding-top: 86px;
      }
    .v-item{
      display: inline-block;
      position: relative;
      width: 250px;
      margin-right: 40px;
      padding-left: 50px;
      vertical-align: top;
      &:last-of-type{
        margin-right: 0;
      }
      img{
        position: absolute;
        top: 10px;
        left: 0;
      }
      p.head{
        opacity: 1;
      }
      p{
        opacity: .7;
      }
      .v-item-cont{
        
      }
    }
    .v-img{
      margin-top: 20px;
    }

    &.ext-bg{
      background-image: url(../images/ext-bg.png);
      @extend %bg-pos;
      background-size: cover;
    }

      .info-block{
        display: inline-block;
        vertical-align: middle;
        margin-right: 50px;
        width: 200px;
        margin: 34px 50px 20px 30px;
        p{
          display: inline-block;
          vertical-align: top;        }

        .v-info-head{
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 0;
        }

      }

    .icon-placeholder80{
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
      top:0;
      left:0;
      overflow: hidden;
    }
    }

	.about-graph-bg{
		background-image: url(../images/about-graph-bg.png);
		background-position: 100% 80%;
		background-repeat: no-repeat;
		background-size: contain;
		p{
			width: 90%;
		}
	}
	.sagrada-bg{
		background-image: url(../images/sagrada-bg.png);
		background-position:100% 100%;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.table-v{
		td{
			padding: 3px 0;
			&:nth-of-type(2){
				text-align: right;
			}
		}
	}
}
a.card-link{
  position: static!important;
  p{
	color: $colorGrey;
  }
}