.head-block{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #fcfdfd;
	overflow: hidden;
	&.planetbg{
        //vd working
		// background-image: url(../images/head-bg.png);
		background-repeat: no-repeat;
		background-position: 100% 170px;
		background-size: contain;
	}
	.head-block-middle-content{
		height: 100%;
    	position: relative;
    	padding-top: 15%;
    	.car-container{
				height: 100%;
    		position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
    	}
	}
	.carousel-wrap{
		.carousel{
			width: 700px;
			height: 100vh;
			text-align: left;
			.car-container{
				position: relative;
				height: 100%;
				.head-content {
					position: absolute;
					top:50%;
					left: 50%;
					transform: translate(-50%, -50%);
					margin-top: 0;
				}
			}
			.item{
				h1{
					text-align: left;
				}
			}
			.inf-block{
				margin-top: 30px;
			}
			.inf-item{
				display: inline-block;
				width: 120px;
				vertical-align: top;
				height: auto;
				.icon-placeholder{
					display: block;
					width: 30px;
					height: 30px;
					background-color: #ccc;
					color:$colorBlue;
				}
				.inf-text{
					color:$colorBlue;
					&:hover{
						color:$colorBlueLight;
					}
					&:active{
						color:$colorBlueDark;
					}
				}

			}
		}
		.carousel-indicators {
		    bottom: 5%;
		    li{
		    	border: 2px solid #dde6f0;
		    	background-color: #dde6f0;
		    	&.active{
		    		border-color:#dde6f0;
		    		background-color: transparent;
		    	}
		    }
		}
	}
}
.head-big-block {
    height: 140vh;
}
.head-arrow-down{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 30px;
	left:50%;
	margin-left: -18px;
	transform:rotate(45deg);
	border-right:1px solid $colorGrey;
	border-bottom: 1px solid $colorGrey;
	background-color: transparent;
	cursor: pointer;
	z-index: 99;
}


.news-and-events{
	& > h2{
		text-align: center;
		margin-top: 80px;
	}
}





.pricing-cont{
	.icon-placeholder80{
		display: block;
		margin: 0 auto;
		width: 80px;
		height: 80px;
		img{
			width: 100%;

		}
	}
	.btn-primary{
		margin-top: 85px;
	}
	.contact-sale{
		display: inline-block;
	    margin-bottom: -3px;
	    margin-right: 8px;
	    width: 20px;
	    height: 16px;
	}
}

.green-square{
	display: block;
    width: 290px;
    height: 288px;
    background-image: linear-gradient(to bottom left, #0BE699 0%, #1AECFF 100%);
    box-shadow: 0 15px 45px rgba(55, 80, 135, 0.3), 0 0 35px rgba(55, 80, 135, 0.05);
    color:#fff;
    padding-top: 75px;
    margin-top: 25px;
    text-align: center;
    h2{
		font-weight: 300;
		margin: 0;
    }
    p{

    }
}
.careeers-cont{
	.icon-placeholder80{
		display: block;
		margin: 0 auto;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		margin-bottom: 15px;
		overflow: hidden;
		background-color: #ccc;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
	}
	.contact-sale{
		display: inline-block;
	    margin-bottom: -3px;
	    margin-right: 8px;
	    width: 20px;
	    height: 16px;
	    background-color: #ccc;
	}
	.info-block{
		display: inline-block;
		width: 235px;
		img{
			max-height: 100%;
    		// margin-left: -25%;
			text-align: center;
		}
	}
}

.info-block{
	height: 220px;
	h3{
		margin-bottom: 5px;
	}
	p{
		margin: 0;
	}
}

.news-wrapper{
	background-color: #fff;
}

.news-wrapper.center{
	text-align: center;
}

.news-main-item-block{
	img{
		width: 100%;
		max-width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.news-footer{
	    padding: 10px 0;
	    border-top:1px solid #eff1f4;
	    @extend %clearfix;
	    a.card-tag{
	        display: inline-block;
	        float: right;
	        text-align: center;
	        text-transform: uppercase;
	        color:$colorGrey;
	        font-size: 14px;
	        background-color: #e6f4fb;
	        padding: 3px 6px;
	        margin-left: 10px;
	        cursor: pointer;
	        transition:color .15s linear;
	        &:hover{
	            color:#c3cad9;
	        }
	        &:active{
	            color:#666c80;
	        }
	    }
	    .card-date{
	    	float: left;
	    	max-width: 207px;
	    }
	  }

}

.pr-cont{
	.news-main-item-block{
		background-color: #fff;
		padding-bottom: 30px;
		p{
			padding: 0 30px;
		}
	}
}
.contacts-cont{
	background-image: linear-gradient(135deg, #FFF 0%, #EDEFF2 100%);
}
.career-list-cont{
	padding-top: 100px;
    padding-bottom: 75px;
    .card-row .news-card:active{
    	background-color: #EEF0F3;
		box-shadow: inset 0 1px 3px rgba(99, 100, 102, 0.25);
    }

}

.career-list-cont.news-and-events{
	.main-h{
		margin-top: 30px;
	}
}
.contacts-wrapper{
	width: 100%;
	.contact-item{
		display: inline-block;
		width: 285px;
		margin-bottom: 30px;
		h3{
			padding-left: 30px;
		}

	}
	.contact-footer{
		display: block;
		border-top: 1px solid $borderGrey;
		margin-top: 30px;
		padding-top: 30px;
	}
}
.phone-icon,
.icon-email,
.icon-local{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	@extend %bg-pos;
	background-size: contain;
}

.phone-icon{
	background-image: url(../images/phone.svg);
}
.icon-email{
	background-image: url(../images/mail.png);
}
.icon-local{
	background-image: url(../images/local.svg);
}
.contacts-form-block{
	background-color: #fff;
	padding: 30px 40px;
	margin-bottom: 50px;
}

.map-bg{
	width: 100%;
	margin-top: -150px;
    margin-bottom: -90px;
}

.spy-content{
	h2,
	h3 {
		color:#1f2b3a;
	}
}
#spy-list{
    margin-top: 35px;
	li {
		list-style: none;
	}
}

.black-text {
	color:#1f2b3a;
}

.backlink{
	cursor: pointer;
	.cicon-commerce-arrow{
		display: inline-block;
		transform:scaleX(-1);
		margin-right: 10px;
		&:before{
			position: absolute;
    		top: -14px;
		}
	}
}

.layout-content.news-page-cont{
	padding-top: 0;
}
.affix li a.active{
	color:#1f2b3a;;
}

.affix li.active a{
	color:#1f2b3a;;
}

.head-block canvas{
	position: absolute;
	top:0;
	left:0;

}

.about-body{
	.about-head-cont{
		max-width: 490px;
		position: absolute;
		top: 50%;
		left: 10%;
		transform: translateY(-50%);
		z-index: 2;
	}
	.about-p{
	  	width: 785px;
		margin: 10px auto 60px;
	  &.big-p{
		font-size:20px;
	  }
	  &.middle-p{
		width: 620px;
	  }
	}
	.rect-img{
		position: absolute;
		top:0;
		left: -80%;
        margin-top: -50px;
	}
}

.leftside {
    padding-left: 185px;
}

.timeline-block{
	display: block;
	padding-left: 100px;
	width: 100%;
    height: auto;
    //overflow-y: hidden;
	// background-image: url(../images/timeline.png);
	// background-size: contain;
	// background-repeat: no-repeat;
	// background-position: 100% 50%;
}

#our-evol{
	margin-right: 100px;
}
.about-map{
	min-width: 100%;
	width: 100%;
	margin-top: -70px;
}
#about-map-svg{
}

.about-content{
  .bx-viewport{
      height: 392px !important;
  }
  .v-block{
      display: inline-block;
      width: 100%;
      background-color: #fff;
  	  box-shadow: 0 1px 3px rgba(0, 78, 141, 0.25);
      height: auto;
      min-height: 335px;
      height: 340px;
      padding: 30px;
      vertical-align: top;
      margin-bottom: 15px;
      cursor: pointer;
      z-index: 10;
      overflow: hidden;
      transition: box-shadow .15s linear;
      &:hover{
      	box-shadow: 0 2px 30px rgba(0, 78, 141, 0.45);
      	z-index: 20;
      }
      ul{
        padding-left: 20px;
      }
      li {
        list-style: disc;
      }
      h3{
      font-weight:300;
      margin-top: 10px;
      color:#2d3947;
      }
      img{
        max-width: 100%;
      }
      &.fix-vblock{
        width: 380px;
      }
      &.middle-cont{
        padding-top: 86px;
      }
    .v-item{
      display: inline-block;
      position: relative;
      width: 250px;
      margin-right: 40px;
      padding-left: 50px;
      vertical-align: top;
      &:last-of-type{
        margin-right: 0;
      }
      img{
        position: absolute;
        top: 10px;
        left: 0;
      }
      p.head{
        opacity: 1;
      }
      p{
        opacity: .7;
      }
      .v-item-cont{

      }
    }
    .v-img{
      margin-top: 20px;
    }

    &.ext-bg{
    	position: relative;
    	.svg-bg{
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
    	}
    }

      .info-block{
        display: inline-block;
        vertical-align: middle;
        margin-right: 50px;
        width: 200px;
        margin: 34px 50px 20px 30px;
        p{
          display: inline-block;
          vertical-align: top;        }

        .v-info-head{
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 0;
        }

      }

    .icon-placeholder80{
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
      top:0;
      left:0;
      overflow: hidden;
    }
    }

	.about-graph-bg{
		// background-image: url(../images/about-graph-bg.png);
		// background-position: 100% 80%;
		// background-repeat: no-repeat;
		// background-size: contain;
		position: relative;
		p{
			width: 90%;
		}
		.total-graph{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			bottom: 15px;
    		margin-left: -15px;
			#total-graph-svg{
				width: 100%;
			}
			.bottom-info{
				margin-top: -20px;
				ul{
					padding-left: 0;
					white-space: nowrap;
					margin-bottom: 0;
					li{
						display: inline-block;
						list-style: none;
						width: 12%;
						margin-right: 38px;
						white-space: nowrap;
						&:nth-of-type(6){
							margin-right: 0;
						}
						&:last-of-type{
							margin-right: 0;
						}
					}
				}
			}

			.circles-block{
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				.circle-wrapper{
					position: absolute;
					display: block;
					width: 12px;
					height: 12px;
					background-color: transparent;
					z-index: 2;
					cursor: pointer;
					transform-origin:50% 50%;

					.c-inner{
						position: absolute;
						width: 12px;
						height: 12px;
						top:50%;
						left:50%;
						border-radius: 50%;
						background-color: #fff;
						border: 2px solid #fff;
						transition:bordar-radius .35s ease-out, width .35s ease-out, height .35s ease-out;
						transform:translate(-50%, -50%);
						transform-origin:50% 50%;
						overflow: hidden;
						.c-content{
							display: block;
							font-size: 24px;
							text-align: center;
							opacity: 0;
							margin-top: 16px;
							transition: opacity 0s linear;
						}
					}

					&.circle1{
						.c-inner{border-color:#47ABED;.c-content{color:#47ABED;}}
						bottom: 30.3%;
						left: 0.5%;
					}
					&.circle2{
						.c-inner{border-color:#50B8DC;.c-content{color:#50B8DC;}}
						bottom: 33.6%;
						left: 17.5%;
					}
					&.circle3{
						.c-inner{border-color:#59C4CC;.c-content{color:#59C4CC;}}
						bottom: 36%;
						left: 34.9%;
					}
					&.circle4{
						.c-inner{border-color:#62D1BC;.c-content{color:#62D1BC;}}
						bottom: 48%;
						left: 52.5%;
					}
					&.circle5{
						.c-inner{border-color:#6ADEAB;.c-content{color:#6ADEAB;}}
						bottom: 54.5%;
						left: 70%;
					}
					&.circle6{
						.c-inner{border-color:#73EA9B;.c-content{color:#73EA9B;}}
						bottom: 78%;
						left: 87.3%;
					}
					&.circle7{
						.c-inner{border-color:#7CF78A;.c-content{color:#7CF78A;}}
						bottom: 92.8%;
						left: 98%;
					}
					&:hover{
						&.circle1{
							z-index: 99;
							.c-inner{
								margin-left: 48px;
							}
						}
					}
					&:hover .c-inner{
						border-radius: 50px;
						height: 70px;
						width: 110px;
						.c-content{
							opacity: 1;
							width: 100%;
							transition: opacity .2s linear;
							transition-delay:.25s;
						}
					}
				}
			}
		}
	}
	.sagrada-bg-card{
		position: relative;
		.sagrada-bg{
			position: absolute;
			bottom:0;
			right: 0;
			height: 100%;
			width: auto;
			#sagrada-svg{
				height: 100%;
				float: right;
			}
		}
	}

	.table-v{
		td{
			padding: 3px 0;
			&:nth-of-type(2){
				text-align: right;
			}
		}
	}
}
a.card-link{
  position: static!important;
  p{
	color: $colorGrey;
  }
}

.h-scroll-wrap{
    position: relative;
	overflow-y: hidden;
    margin-top: 30px;
    .h-scroll-cont{
    	position: relative;
    	overflow-x: scroll;
    	white-space: nowrap;
    	&.addmargin{
    		margin-bottom: -17px;
    	}
    }
}
.bottom-info{
	    margin-top: -20px;
	ul{
		padding-left: 0!important;
		li{
			display: inline-block;
			list-style: none;
			width: 100px;
			margin-right: 30px;
		}
	}
}
.white-arrow {
	position: absolute;
	top: 50%;
	outline: 0;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	z-index: 99;
	background-color: #fff!important;
	border-radius: 50%;
	transition: all .15s linear;
	&.next {
		right: 20px;
		background: url("../images/gallery-arrow.svg") no-repeat 50% 50%;
		&.hidden{
			display: none;
		}
	}
	&.prev {
		left: 20px;
		background: url("../images/gallery-arrow.svg") no-repeat 50% 50%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		&.hidden{
			display: none;
		}
	}
}
.about-fluid-cont{
	overflow: hidden;
	.white-arrow.next {
	    // right: 0;
	}
	.white-arrow.prev {
	    // left: 0;
	}
}
.timeline-arrow {
	position: absolute;
    top: 5%;
	outline: 0;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	z-index: 99;
    cursor: pointer;
	background-color: #fff!important;
	border-radius: 50%;
	transition: all .15s linear;
	&.next {
		right: 20px;
		background: url("../images/gallery-arrow.svg") no-repeat 50% 50%;
		&.hidden{
			display: none;
		}
	}
	&.prev {
		left: 20px;
		background: url("../images/gallery-arrow.svg") no-repeat 50% 50%;
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		&.hidden{
			display: none;
		}
	}
}
.timeline-wrap{
    position: relative;
    height: 365px;
    z-index: 10;
    &:before,
    &:after{
		display: block;
		position: absolute;
		content: "";
		left: 0;
		right: 0;
		width: 100%;
		height: 30%;
		background-color: transparent;
		pointer-events:none;
		z-index: 999;
    }
    &:after{
		top:0;
    }
    &:after{
		bottom:0;
    }
}
.timeline-block{
    position: relative;
    margin-bottom: -20px;
    padding-top: 10px;
}
.evolution-text{
	display: block;
	white-space: nowrap;
	position: relative;
	left: -10px;
    .date {
        display: inline-block;
        margin-right: 145px;
		background-color: transparent;
		cursor: pointer;
		width: 50px;
		height: 50px;
		border-radius: 50%;
        span {
            display: inline-block;
            transition: transform .3s linear;
        }
        &:hover{
            span {
                transform: scale(1.3);
            }
		    .year {
                display: block;
                opacity: 1;
                .tooltip-text {
                    opacity: 1;
                    display: block;
                }
            }
		}
        &:nth-of-type(1){
    		top:-50px;
    	}
        &:nth-of-type(2){
    		top:-110px;
    	}
        &:nth-of-type(3){
    		top:-90px;
            margin-right: 146px;
    	}
        &:nth-of-type(4){
    		top:-120px;
    	}
        &:nth-of-type(5){
    		top:-100px;
            margin-right: 147px;
    	}
        &:nth-of-type(6){
    		top:-130px;
            margin-right: 147px;
    	}
        &:nth-of-type(7){
    		top:-100px;
            margin-right: 147px;
    	}
        &:nth-of-type(8){
    		top:-130px;
    	}
        &:nth-of-type(9){
    		top:-100px;
    	}
        &:nth-of-type(10){
    		top:-120px;
            margin-right: 147px;
    	}
        &:nth-of-type(11){
    		top:-90px;
    	}
        &:nth-of-type(12){
    		top:-140px;
    	}
        &:nth-of-type(13){
    		top:-110px;
    	}
        &:nth-of-type(14){
    		top:-130px;
            margin-right: 147px;
    	}
        &:nth-of-type(15){
    		top:-110px;
    	}
        &:nth-of-type(16){
    		top:-140px;
            margin-right: 147px;
    	}
        &:nth-of-type(17){
    		top:-120px;
    	}
        &:nth-of-type(18){
    		top:-160px;
    	}
    }
    }

    .tooltips-textblock{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 20;

	.year{
		display: block;
		position: absolute;
		width: 280px;
		height: 150px;
		opacity: 0;
		pointer-events:none;
		transition:opacity .3s linear;
			&.y-2006{
				top: 60px;
                margin-left: -125px;
			}
			&.y-2007,
            &.y-2008,
            &.y-2009-1,
            &.y-2009-2,
            &.y-2010,
            &.y-2011,
            &.y-2012-1,
            &.y-2012-2,
            &.y-2013,
            &.y-2014-1,
            &.y-2014-2,
            &.y-2015-1,
            &.y-2015-2,
            &.y-2015-3,
            &.y-2016-1,
            &.y-2016-2
            {
				top: 60px;
                left: -123px;
			}

		.tooltip-text{
			display: none;
			position: absolute;
			width: 280px;
			min-height: 50px;
			padding: 25px;
			line-height: 21px;
			color:#8d95a6;;
            background-color: #fff;
			opacity: 0;
			text-align: left;
            text-shadow: none;
            text-transform: none;
            letter-spacing: normal;
            word-break: normal;
            word-spacing: normal;
            word-wrap: normal;
            white-space: normal;
			box-shadow: 0 5px 20px rgba(35, 79, 138, 0.2);
			transition:opacity .15s .2s linear;
			z-index: 30;
			&:after{
				display: block;
                position: absolute;
                content: "";
                top: -18px;
                left: 50%;
                margin-left: -8px;
                width: 1px;
                height: 1px;
                border: 8px solid transparent;
                border-bottom: 10px solid #fff;
			}
		}
	}
}

.timeline-block{
	svg {
		.timeline-circle{
			transition:all .15s linear;
			cursor: pointer;
			fill:#EBECEF;
			&:hover{
				r:7;
			}
		}
	}
}
[data-hover-child]{
	transition:all .2s linear;
}

.tooltips-block{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 20;
    overflow-y: hidden;
	.city{
		display: block;
		position: absolute;
		background-color: transparent;
		cursor: pointer;
		width: 30px;
		height: 30px;
		border-radius: 50%;
			&:hover{
				& .map-tooltip {
					opacity: 1;
					display: block;
				}
			}
			&.kiev{
				top: 35%;
				left: 58%;
			}
			&.london{
				top: 35%;
				left: 47%;
			}
			&.johannesburg{
				top: 79%;
				left: 55%;
			}
			&.moscow{
				top: 32%;
				left: 60%;
			}
			&.paris{
				top: 40%;
				left: 49%;
			}
			&.bucharest{
				top: 38%;
				left: 56%;
			}
			&.montreal{
				top: 40%;
				left: 29%;
			}
			&.losAngeles{
				top: 47%;
				left: 17%;
			}
			&.newYorkU{
				top: 46%;
				left: 28%;
			}
			&.rio{
				top: 79%;
				left: 36.5%;
			}
			&.sydney{
				top: 86%;
				left: 88%;
			}

		.map-tooltip{
			display: none;
			position: absolute;
			width: 150px;
			height: 60px;
			padding: 8px;
			line-height: 21px;
			top: -65px;
			left: -60px;
			color:#fff;
			opacity: 0;
			text-align: center;
			background-color: #282F3D;
			box-shadow: 0 5px 20px rgba(35, 79, 138, 0.2);
			transition:opacity .15s .1s linear;
			z-index: 30;
			&:after{
				display: block;
				position: absolute;
				content: "";
				bottom: -18px;
				left:50%;
				margin-left: -8px;
				width: 1px;
				height: 1px;
				border:8px solid transparent;
				border-top: 10px solid #282F3D;
			}
		}
	}
}
.news-card .card-photo img.news-head-icon{
	&.sol-img-1{
		width: 100px;
		height: 76px;
	}
	&.sol-img-2{
		width: 90px;
		height: 90px;
	}
	&.sol-img-3{
		width: 77px;
		height: 85px;
	}
	&.sol-img-4{
		width: 88px;
		height: 88px;
	}
}

.carousel-indicators{
	left: 97px;
	margin-left: 0;
	text-align: left;
}

.link{
	display: inline-block;
	width: 0;
	height: 0;
	position: relative;
	top:-120px;
	z-index: -999;
}

.IN-widget{
	&:before{

	}
	#frame{
		.wrapper{
			.follow-actions{
			}
		}
	}
}


.IN-logo{
	display: none!important;
}


.you-can-be-here {
    position: absolute;
    top: 40px;
    left: -28px;
    width: 100%;
}

svg#you-can {
    width: 300px;
}

.selectize-dropdown.single .selectize-dropdown-content div[data-value="value0"] {
    display: none;
}

.cont-phone {
    display: block;
}

.fixed-block {
    position: fixed;
}

.up-block {
    margin-top: -10%;
}

.grey-title {
    color: #818285;
    margin-top: -20px;
}
.selectize-input.items.full.has-options.has-items  div[data-value="value0"] {
    height: 20px;
}

.characters-remaining-wrapper {
    display: none;
    font-size: 14px;
}

.characters-remaining {
    margin-right: 5px;
}

.right-block ul li.mobile-li {
    display: none;
}

.mobile-only,
.mobile-only-inline,
.mobile-glob,
.mobile-world-globe {
    display: none !important;
}

.one-line {
    width: 51%;
}

.content-wrapper{
	overflow: hidden;
}
