.sol-body{
	background-image: linear-gradient(135deg, #6840D6 0%, #3F106E 100%);
	.layout-header{
		background-color: transparent;
		.logo-block{
			background-image: url(../images/logo-white.svg);
		}
		.right-block{
			li a:not(.btn){
				color:#fff !important;
				transition: opacity .15s linear;
				opacity: .8;
				&:hover{
					color:#fff !important;
					opacity: 1;
				}
				&:active{
					color:#fff !important;
					opacity: .7;
				}
			}
			li.btn-li {
				width: 180px;
			}
		}
	}

	.layout-content{
		padding-top: 0;
	}
	.info-block{
		display: inline-block;
		margin: 20px 3px;
		height: auto;
		width: 140px;
    	vertical-align: top;
    	.v-info-head{
    		font-weight: bold;
    	}
	}
	.head-screen{
		position: relative;
	    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
	    // background-image: linear-gradient(135deg, #7E44F2 0%, #490F66 100%);
	    &:before{
	    	position: absolute;
	    	display: block;
	    	content: "";
	    	width: 100%;
	    	height: 60%;
			background-image: linear-gradient(to bottom, #000 0%, rgba(68, 88, 242, 0) 100%);
	    }
		.container{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		}
	}
	.container {
		p{
			color:#fff;
		}
		h1, h2, h3 {
			color:#fff;
			&.main-h{
				color:#fff;
			}
		}
	}

    .head-arrow-down{
    	border-color: #fff;
    	bottom: 50px;
    }
    .v-block{
    	display: inline-block;
    	width: 100%;
    	background-color: rgba(0,0,0,.2);
    	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
    	height: auto;
    	min-height: 335px;
    	height: 340px;
    	padding: 30px;
    	color:#fff;
    	vertical-align: top;
    	margin-bottom: 15px;
    	cursor: pointer;
    	overflow: hidden;
    	transition: box-shadow .15s linear;
    	&:hover{
      		box-shadow: 0 2px 30px rgba(0, 0, 0, 0.40);
    	}
    	ul{
    		padding-left: 20px;
    	}
    	li {
    		list-style: disc;
    	}
    	h3{
			font-weight:300;
			margin-top: 10px;
    	}
    	img{
    		max-width: 100%;
    	}
    	&.fix-vblock{
    		width: 380px;
    	}
    	&.middle-cont{
    		padding-top: 86px;
    	}
		.v-item{
			display: inline-block;
			position: relative;
			width: 250px;
			margin-right: 40px;
			padding-left: 50px;
			vertical-align: top;
			&:last-of-type{
				margin-right: 0;
			}
			img{
				position: absolute;
				top: 10px;
				left: 0;
			}
			p.head{
				opacity: 1;
			}
			p{
				opacity: .7;
			}
			.v-item-cont{

			}
		}
		.v-img{
			margin-top: 50px;
		}

		&.ext-bg{
			position: relative;
			h3{
				position: relative;
			}

			.svg-bg{
				position: absolute;
				top:0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

    	.info-block{
    		display: inline-block;
    		vertical-align: middle;
    		margin-right: 50px;
    		width: 200px;
    		margin: 34px 50px 20px 30px;
    		p{
    			display: inline-block;
    			vertical-align: top;    		}

	    	.v-info-head{
	    		font-weight: bold;
	    		margin-bottom: 10px;
	    		margin-top: 0;
	    	}

    	}

		.icon-placeholder80{
			display: inline-block;
			width: 40px;
			height: 40px;
			position: absolute;
			top:0;
			left:0;
			overflow: hidden;
		}
    }
    .slide{
			width: 320px !important;
			.info-block{
				margin: 0;
				padding-left: 55px;
				width: 320px;
				.info-block-cont{
					width: 275px;
				}
			}
		}
		.bx-wrapper .bx-next,
		.bx-wrapper .bx-prev{
			background-color: #643fd3;
		}
		&.overflowscrollX{
			position: relative;
			&:after{
				position: absolute;
				top: 0;
				right: 0;
				content: "";
			    width: 130px;
			    height: 100%;
			    background-image: linear-gradient(to left, rgba(35, 184, 172, 0.9) 20%, rgba(255, 255, 255, 0) 100%);
			}

			.info-block{
				width: 320px;
				vertical-align: top;
				p{
					margin-top: 0;
				}
				.info-block-cont{
    				white-space: normal;
				}
			}
		}
	.int-bg{
		background-image: url(../images/int-bg.png);
		@extend %bg-pos;
		background-size: cover;
		background-color: rgba(0, 0, 0, 0.15);

		img{
		}
	}
    a.mail-link{
    	color: #22c5e6;
    	&:hover{
    		color: #22c5e6 + 15%;
    	}
    	.contact-sale{
			display: inline-block;
			width: 25px;
			height: 25px;
			vertical-align: middle;
    		margin-right: 10px;
    		margin-top: -5px;
			background-image: url(../images/s-mail.png);
			@extend %bg-pos;
    	}
    }
    .col-lg-8, .col-md-8 {
	    padding-left:10px;
	    padding-right: 10px;
	}
	.layout-footer{
		border-top: 1px solid #582f89;
		.copyrights,
		.left-block a{
			color:#fff !important;
			opacity: .8;
			transition:opacity .15s linear;
			&:hover{
				color:#fff !important;
				opacity: 1;
			}
			&:active{
				color:#fff !important;
				opacity: .7;
			}
		}
		.left-block .copyrights{
	            border-right: 1px solid rgba(255,255,255,.14);
	    }
	}

	.payment-head{
		background-image: url(../images/bg_payment.png), linear-gradient(135deg, #7E44F2 0%, #490F66 100%);
		background-position: 50% 70%;
		background-repeat: no-repeat;

	}
	.solution-head{
		background-image: url(../images/bg_solution.png), linear-gradient(135deg, #7E44F2 0%, #490F66 100%);
		background-position: 50% 101%;
		background-repeat: no-repeat;
	}
	.support-head{
		background-image: url(../images/bg_support.png), linear-gradient(135deg, #7E44F2 0%, #490F66 100%);
		background-position: 50% 101%;
		background-repeat: no-repeat;
	}

	&.supp-body{
		.v-block{
			background-color: rgba(0, 0, 0, 0.25);
		}
		a.mail-link{
	    	color: #30dcfe;
	    	&:hover{
	    		color: #30dcfe + 15%;
	    	}
	    	.contact-sale{
				display: inline-block;
				width: 25px;
				height: 25px;
				vertical-align: middle;
	    		margin-right: 10px;
	    		margin-top: -5px;
				background-image: url(../images/s-mail.png);
				@extend %bg-pos;
	    	}
	    }
	}
}

.h-scroll-inner{
	.bottom-info{
		ul{
			li{
				margin-right: 27px;
				&:nth-of-type(4){
					margin-right: 10px;
				}
			}
		}
	}
}

.v-block{
	position: relative;
	&.cust-bg-table{
		// background-image: url(../images/table-bg.jpg);
		@extend %bg-pos;
		img{
			position: absolute;
			top:0;
			right: 0;
			width: 100%;
			height: 100%;
			filter:blur(2px);
			z-index: 1;
			transition:filter 3s linear, opacity .3s linear;
			opacity: .8;
		}
		&[style*="visibility: visible"] img{
			filter:blur(0);
		}
		&:hover{
			img{
				opacity: 1;
			}
		}
	}
	&.cust-bg-graph{
		background-image: url(../images/graph_002.png);
		background-position:100% 50%;
		background-repeat: no-repeat;
	}
	.left-cont{
		position: relative;
		display: inline-block;
		max-width: 370px;
		z-index: 2;
	}
	.bottom-img{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	.right-img{
		position: absolute;
		top:50%;
		right:50px;
		transform:translateY(-50%);
	}
}


.img-wrap {
    height: 105px;
    line-height: 100px;
    width: 80px;
    margin: 0 auto;
    img{
    	vertical-align: middle;
    	width: 100%;
    }
    & + p{
    	line-height: 25px;
    	margin-top: 5px;
    }
}

.icon-wrap {
    height: 90px;
    line-height: 100px;
    width: 55px;
    margin: 0 auto;
    img{
    	vertical-align: middle;
    	width: 100%;
    }
    & + p{
    	line-height: 25px;
    	margin-top: 5px;
    }
}

.imgbig{
	width: 110px !important;
}
.imgm{
	width: 100px !important;
}
.imgs{
	width: 90px !important;
}


.risk-body{
	background-color: #01DAA5;
	position: relative;
	&:after{
		position: absolute;
		bottom: 0;
		right: 0;
		content: "";
		z-index: 1;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(315deg, #006394 0%, rgba(0, 99, 148, 0.99) 1%, rgba(0, 99, 148, 0) 100%);
		opacity: .5;
	}
	.layout-header{
		background-color: transparent;
		.logo-block{
			background-image: url(../images/logo-white.svg);
		}
		.right-block{
			li a:not(.btn){
				color:#fff !important;
				opacity: .8;
				transition:opacity .15s linear;
				&:hover{
					color:#fff !important;
					opacity: 1;
				}
				&:active{
					color:#fff !important;
					opacity: .7;
				}
			}
		}
	}
	.layout-content{
		padding-top: 0;
		position: relative;
		z-index: 2;
	}
	.info-block{
		display: inline-block;
		margin: 20px 3px;
		height: auto;
		width: 140px;
    	vertical-align: top;
	}
	.head-screen{
		position: relative;
	    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
	    z-index: 2;
	    // background-image: linear-gradient(135deg, #7E44F2 0%, #490F66 100%);
	    &:before{
	    	position: absolute;
	    	display: block;
	    	content: "";
	    	width: 100%;
	    	height: 60%;
			background-image: linear-gradient(to bottom, #006394 0%, rgba(0, 99, 148, 0.99) 1%, rgba(0, 99, 148, 0) 100%);
	    }
		.container{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		}
	}
	.container {
		p{
			color:#fff;
		}
		h1, h2, h3 {
			color:#fff;
			&.main-h{
				color:#fff;
			}
		}
	}

    .head-arrow-down{
    	border-color: #fff;
    	bottom: 50px;
    }
    .v-block{
    	display: inline-block;
    	width: 100%;
    	background-color: rgba(255,255,255,.14);
    	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
    	height: 340px;
    	min-height: 335px;
    	padding: 30px;
    	color:#fff;
    	vertical-align: top;
    	margin-bottom: 15px;
    	overflow: hidden;
    	cursor: pointer;
    	transition: box-shadow .15s linear;
    	&:hover{
      		box-shadow: 0 2px 30px rgba(0, 0, 0, 0.40);
    	}
    	ul{
    		padding-left: 20px;
    	}
    	li {
    		list-style: disc;
    	}
    	h3{
			font-weight:300;
			margin-top: 10px;
    	}
    	img{
    		max-width: 100%;
    	}
    	&.fix-vblock{
    		width: 380px;
    	}
    	&.middle-cont{
    		padding-top: 86px;
    	}

    	.info-block{
    		display: inline-block;
    		vertical-align: middle;
    		margin-right: 50px;
    		width: 200px;
    		margin: 34px 50px 20px 30px;
    		p{
    			display: inline-block;
    			vertical-align: top;
    			margin-top: 40px;
    		}

	    	.info-block-cont{
	    		display: inline-block;
	    	}
    	}

		.icon-placeholder80{
			display: inline-block;
			margin: 20px;
			width: 80px;
			height: 80px;
			overflow: hidden;
			&.little{
				width: 40px;
				height: 40px;
				margin: 5px;
				margin-right: 10px;
				vertical-align: top;
			}
		}
		.slide{
			width: 320px !important;
			.info-block{
				white-space: nowrap;
				margin: 0;
				width: 320px;
				.info-block-cont{
					width: 275px;
				}
			}
		}
		&.overflowscrollX{
			position: relative;
			&:after{
				position: absolute;
				top: 0;
				right: 0;
				content: "";
			    width: 130px;
			    height: 100%;
			    background-image: linear-gradient(to left, rgba(35, 184, 172, 0.9) 20%, rgba(255, 255, 255, 0) 100%);
			}

			.info-block{
				width: 320px;
				vertical-align: top;
				p{
					margin-top: 0;
				}
				.info-block-cont{
    				white-space: normal;
				}
			}
		}
    }
    a.mail-link{
    	color: #00f7ce;
    	&:hover{
    		color: #00f7ce + 15%;
    	}
    	.contact-sale{
			display: inline-block;
			width: 25px;
			height: 25px;
			vertical-align: middle;
    		margin-right: 10px;
    		margin-top: -5px;
			background-image: url(../images/r-mail.png);
			@extend %bg-pos;
    	}
    }
    .col-lg-8, .col-md-8 {
	    padding-left:10px;
	    padding-right: 10px;
	}
	.layout-footer{
		border-top: 1px solid #1ba698;
		z-index: 2;
		.copyrights,
		.left-block a{
			color:#fff !important;
			opacity: .8;
			transition:opacity .15s linear;
			&:hover{
				color:#fff !important;
				opacity: 1;
			}
			&:active{
				color:#fff !important;
				opacity: .7;
			}
		}
		.left-block .copyrights{
	            border-right: 1px solid rgba(255,255,255,.14);
	    }
	}
	.risk-head{
		background-image: url(../images/bg_risk.png), linear-gradient(135deg, #00EBA8 0%, #00EBA8 0%, #109E9E 100%);
		background-position: 50% 70%;
		background-repeat: no-repeat;
	}
}

.overflowscrollX{
	white-space: nowrap;
}
.risk-info-wrapper{
	margin:  0;
	.risk-info-item{
		display: inline-block;
		width: 16.2%;
		text-align: center;
		margin: 30px auto;
		white-space: nowrap;
		.r-info-icon{
			width: 100%;
			height: 70px;
			[class^="cicon"]{
				color:#00e2c7;
				font-size:55px;
			}
		}
		.r-info-title{
			color:#fff;
		}
	}
}

.v-card-slider{
	.info-block{
		.icon-placeholder80 {
			[class^="cicon"]{
				color:#00e2c7;
				font-size:38px;
			}
		}
	}
}

.num-img{
	margin: 25px auto;
}

.info-block{
	.icon-placeholder80.little{
		[class^="cicon"]:before{
			color: #22c5e6;
		}
	}
}
.risk-body .info-block{
	.icon-placeholder80.little{
		[class^="cicon"]:before{
			color: #00e2c7;
		}
	}
}

.dialog-block{
	position: relative;
	&:before{
		display: block;
		content:"";
		position: absolute;
		top:0;
		left:0;
		height: 160px;
		width: 100%;
		background-image: linear-gradient(to bottom, #3E1A75 60%, transparent);
		z-index: 99;

	}
	&:after{
		display: block;
		content:"";
		position: absolute;
		bottom:0;
		left:0;
		height: 80px;
		width: 100%;
		background-image: linear-gradient(to top, #3E1A75, transparent);
		z-index: 99;
	}
	h3{
		position: relative;
		z-index: 100;
	}
	img{
		position: relative;
		transition:transform .5s linear;
		top:0;
		// &:hover{
		// 	// transform:translateY(-50%);
		// 	transition:all 7s linear;
		// }
	}
}

.lc-nums{
	font-size: 85px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: -5%;
    background: linear-gradient(to right, #00e6d2, #32ffc5);
	-webkit-background-clip: text;
	color: transparent;
	span:not(.lc-count){
		font-size: 35px;
    	margin-left: -30px;
    	font-weight: 400;
	}
}


.info-line-item{
	position: absolute;
	width: auto;
	white-space: nowrap;
	// margin-top: -27px;
	&:nth-of-type(2){
		// margin-left: -40px;
		float: right;
	}
	.il-circle{
		display: inline-block;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		padding: 6px 14px;
		text-align: center;
		font-size: 16px;
		border: 1px solid #6741D9;
		background-color: transparent;
		color:#6741D9;
		transition:all .4s linear;
		transition-delay:.1s;
	}
	.text{
		display: inline-block;
		color:#6741D9;
		font-size: 14px;
		margin: 0 7px;
		transition:all .4s linear;
		transition-delay:.1s;
	}
	&:hover{
		.il-circle{
			color:#fff;
			background-color: #22C5E6;
			border-color: #22C5E6;
		transition-delay:0s;
		}
		.text{
			color:#fff;
		transition-delay:0s;
		}

		& ~ .first-item{
			
			.il-circle{
				color:#6741D9;
				background-color: transparent;
				border-color: #6741D9;
			}
			.text{
				color:#6741D9;
			}
		}
	}
	&.first-item{
		.il-circle{
			color:#fff;
			background-color: #22C5E6;
			border-color: #22C5E6;
		}
		.text{
			color:#fff;
		}
	}
}

.eebn-fill{
	transition:opacity .3s linear;
	&:hover{
		opacity: .7;
	}
}


