
#about-map-svg{
	width: 100%;
	margin-bottom: 60px;

	#map-points {
		opacity: 0;
		transition:opacity .25s linear;
		&[data-animated="done"]{
			opacity: .3;
			transition:opacity .25s linear;
		}
	}
}

#ec-graph{
	width: 100%;
	height: 100%;
}


.ec-graph-colls{
	position: absolute;
	    bottom: 38px;
    left: 0;
	width: 100%;
	height: 100%;
	.coll-item{
		display: block;
		position: absolute;
		bottom: 0;
		width: 25px;
		height: 0;
		transition:height .75s ease-out;
			&:nth-of-type(1){
				left: 70px;
		        background-image: linear-gradient(to top, rgba(73,174,234,1), rgba(73,174,234,1));
			}
			&:nth-of-type(2){
				left: 160px;
		        background-image: linear-gradient(to top, rgba(73,174,234,1) 50%, rgba(82,187,216,1));
			}
			&:nth-of-type(3){
				left: 247px;
		        background-image: linear-gradient(to top, #49aeea 5%, #66D7B4);
			}
			&:nth-of-type(4){
				left: 336px;
		        background-image: linear-gradient(to top, rgba(73,174,234,1) 40%, rgba(124,247,139,1));
			}
			&:nth-of-type(5){
				left: 426px;
		        background-image: linear-gradient(to top, rgba(73,174,234,1) 35%, rgba(124,247,139,1));
			}
			&:nth-of-type(6){
				left: 516px;
		        background-image: linear-gradient(to top, rgba(73,174,234,1), rgba(124,247,139,1));
			}
	}
	&.animated{
		.coll-item{
		transition:height .75s ease-out;
			&:nth-of-type(1){
				height: 15%;
				transition-delay: .5s;
			}
			&:nth-of-type(2){
				height: 30%;
				transition-delay: .8s;
			}
			&:nth-of-type(3){
				height: 40%;
				transition-delay: 1.1s;
			}
			&:nth-of-type(4){
				height: 50%;
				transition-delay: 1.4s;
			}
			&:nth-of-type(5){
				height: 60%;
				transition-delay: 1.7s;
			}
			&:nth-of-type(6){
				height: 70%;
				transition-delay: 2s;
			}
		}
	}
}

#Dots-gradient{
	opacity:0;
	transition:opacity .3s linear;
	&[data-animated="done"]{
		opacity:1;
	}
}
#Dots-fill_1_{
	#_x37_, #_x36_, #_x35_, #_x34_, #_x33_, #_x32_, #_x31_{
		opacity: 1;
		transition:opacity .2s linear;
	}

	&.animated{
		#_x37_, #_x36_, #_x35_, #_x34_, #_x33_, #_x32_, #_x31_{
			transition:opacity .3s linear;
			opacity: 1;
		}
		#_x31_{
			transition-delay: 0;
		}
		#_x32_{
			transition-delay: 0.3;
		}
		#_x33_{
			transition-delay: 0.6;
		}
		#_x34_{
			transition-delay: 0.9;
		}
		#_x35_{
			transition-delay: 1.2;
		}
		#_x36_{
			transition-delay: 1.5;
		}
		 #_x37_{
			 transition-delay: 1.8;
		 }
	}
}

